<%- include('header') %>
  <!-- =============================================== -->
  <%- include('aside') %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Sửa danh mục
      </h1>
    </section>
    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="box">
        <div class="row">
          <div class="col-md-4">
            <form action="" method="POST" role="form">
              <div class="box-body">
                <div class="form-group">
                  <label for="">Tên danh mục</label>
                  <input type="text" class="form-control" placeholder="Nhập" name="tenlh"  value="<%= cat.tenlh %>">
                </div>
              </div>
              <div class="box-footer">
                <a href="/danhmuc" class="btn btn-default">Quay lại</a>
                <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Lưu lại</button>
              </div>
            </form>
            
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%- include('footer') %>